body {
  color: rgb(44, 3, 46);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

#body-background {
  background-color: rgb(221, 209, 219);
}

.box-1 {
  border: 5px solid rgb(92, 92, 92);
  margin: 30px 10px 10px 10px;
  padding: 10px 20px;
}

.box-2 {
  border: 5px solid rgb(8, 8, 8);
  margin: 10px;
  padding: 10px 20px;
}

.box-3 {
  border: 5px solid rgb(92, 92, 92);
  margin: 10px;
  padding: 10px 20px;
}

.box-4 {
  border: 5px solid rgb(8, 8, 8);
  margin: 10px;
  padding: 10px 20px;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(90, 7, 56);
}
